{% extends 'base.html.twig' %}

{% block body %}
    <nav>
        <!-- Dropdown Structure -->
        <ul id="dropdown1" class="dropdown-content">
            {% set counter = -1 %}
            {% for event in myEvents %}
            {% set counter = counter + 1 %}
            <li><a href="{{ path('project') }}">{{ event.summary }}</a></li>
            {% endfor %}
        </ul>
        <div class="nav-wrapper">
            <a href="{{ path('') }}" class="brand-logo">
                <i class="material-icons">today</i></a>
                <span class="welcome">Welkom: {{ myName }}</span>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <!-- Dropdown Trigger -->
                <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Projects<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a href="https://calendar.google.com/calendar/render#eventpage_6%7Ceid-bmczZWlqOWZtOTZsaDgzbzQxYWdtcDJ1aGMgbWFydGluYXNwcm9uZzk0QG0-1-0-">Google Calendar</a></li>
                <li><a href="https://support.google.com/?hl=nl">Help</a></li>
            </ul>

        </div>
    </nav>
    <div class="row">
        {% set counter = -1 %}
        <h2>Upcoming events</h2>
        {% for event in myEvents %}
        <div class="col s12 m6">
            <div class="card small">
                {% set counter = counter + 1 %}
                <div class="card-image">
                    <img src="bundles/framework/images/roeien.png">
                    <span class="card-title">{{ event.summary }}</span>
                </div>
                <div class="card-content">

                    <p>Chance of success: {{ myCompleted[counter] }}%</p>
                </div>
                <div class="card-action">
                    {#<a href="https://www.google.com/calendar/event?eid={{ event.id }}">Visit event</a>#}
                    <a href="https://calendar.google.com/calendar/render#eventpage_6%7Ceid-bmczZWlqOWZtOTZsaDgzbzQxYWdtcDJ1aGMgbWFydGluYXNwcm9uZzk0QG0-1-0-">Visit event</a>
                    <a href="#">Remove event</a>
                    <span>End date:
                        {{ endDate[counter]|date('d-m-Y') }}
                    </span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Martina Sprong</h5>
                    <p class="grey-text text-lighten-4">0881268</p>
                    <p class="grey-text text-lighten-4">MT3B</p>

                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Contact</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" HREF="mailto:gebruiker@provider.nl">Webmaster</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2016 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">Follow us on Linkedin!</a>
            </div>
        </div>
    </footer>

{% endblock %}

